<p>add-animal works!</p>

<form>
    
    <label>Namn på djuret: </label>
    <input id="add-animal" [formControl]="name"/>

    <br>
    <br>

    <label for="add-animal">Vilket djur? </label>
    <input id="add-animal" [formControl]="type">

    <br>
    <br>

    <label for="add-animal">Djurbeskrivning: </label>
    <input id="add-animal" [formControl]="description">

    <br>
    <br>

    <button type="button" (click)="changeName()">Spara</button>
</form>

<p>
    {{ 
         name.value 
        + type.value 
        + description.value
    }}
</p>
